<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.revance.rd_manager"
>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
    />
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
    />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
    />
    <uses-permission
        android:name="android.permission.REQUEST_DELETE_PACKAGES"
    />

    <application
        android:label="Rd Manager"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        tools:replace="android:label"
    >

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/LaunchTheme"
            android:hardwareAccelerated="true"
        >
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
            />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Intent filters for UnifiedPush -->
            <intent-filter>
                <action
                    android:name="org.unifiedpush.android.distributor.feature.UNIFIED_PUSH"
                />
            </intent-filter>
        </activity>

        <service
            android:name="com.dexterous.flutterlocalnotifications.ForegroundService"
            android:exported="false"
            android:stopWithTask="false"
            android:foregroundServiceType="dataSync"
        >
        </service>

        <!-- Service for UnifiedPush -->
        <service
            android:name="org.unifiedpush.flutter.connector.UnifiedPushService"
            android:enabled="true"
            android:exported="false"
        >
        </service>

        <meta-data android:name="flutterEmbedding" android:value="2" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities"
        >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource"
            />
        </provider>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>

        <!-- Query for UnifiedPush distributors -->
        <intent>
            <action
                android:name="org.unifiedpush.android.distributor.REGISTER"
            />
        </intent>
    </queries>
</manifest>
