name: GitHub Cleanup

on:
  workflow_dispatch:

permissions:
  actions: write
  contents: write

jobs:
  cleanup-releases:
    runs-on: ubuntu-22.04
    steps:
      - name: GitHub Cleaner
        uses: nckslvrmn/github_cleaner@v1.0.0
    
        with:
          keep_latest: ${{ github.event.inputs.keep_latest }}
          delete_tags: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
