name: GitHub Cleanup

on:
  workflow_dispatch:
 

jobs:
  cleanup:
    runs-on: ubuntu-latest
    permissions:
      actions: write # Required for deleting workflow runs
    steps:
      - name: Delete old workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          keep_minimum_runs: 5
