name: GitHub Cleanup

on:
  workflow_dispatch:
    inputs:
      keep_latest:
        description: 'Number of latest releases to keep'
        required: true
        default: '2'

permissions:
  actions: write
  contents: write

jobs:
  cleanup-releases:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Delete older releases
        uses: actions/delete-release@v1
        with:
          keep_latest: ${{ github.event.inputs.keep_latest }}
          delete_tags: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
