name: GitHub Cleanup

on:
  workflow_dispatch:

permissions:
  actions: write
  contents: write

jobs:
  cleanup-releases:
    runs-on: ubuntu-latest
    steps:
      - name: Delete older releases
        uses: s00d/delete-older-releases@0.2.1
        with:
          keep_latest: 2
          repo: Pratyay360/revance_downloader
          delete_tags: 1
          delete_branch: 0

      - name: GitHub Cleaner
        uses: nckslvrmn/github_cleaner@v1.0.0
