name: CI/CD Pipeline

on:
  push:
  workflow_dispatch:

jobs:
  # JOB 1: TEST
  flutter_test:
    name: Run Flutter Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true # Fast cache for Pub dependencies
          
      - run: flutter pub get
      - run: flutter --version
      - run: flutter analyze
      - run: flutter test

  # JOB 2: BUILD & RELEASE
  # This job will ONLY run if 'flutter_test' succeeds
  build_androidApk:
    name: Build Flutter App
    needs: flutter_test 
    runs-on: ubuntu-latest
    permissions:
      contents: write
    # Optional: Prevent building releases on random branches, run only on main or manual
    if: github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch'
    steps:
      - uses: actions/checkout@v3
      
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle' # Fast cache for Gradle (Android)
          
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true # Fast cache for Pub dependencies
          
      - run: flutter pub get
      
      - name: Setup signing configuration
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > android/keystore.jks
          echo "storePassword=${{ secrets.KEYSTORE_PASSWORD }}" > android/key.properties
          echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> android/key.properties
          echo "keyAlias=${{ secrets.KEY_ALIAS }}" >> android/key.properties
          echo "storeFile=${{ github.workspace }}/android/keystore.jks" >> android/key.properties
          
      - run: flutter build apk --release --split-per-abi 
      
      - name: Push to Releases
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/*/*.apk"
          allowUpdates: true
          tag: v1.0.${{ github.run_number}}
          token: ${{ secrets.GITHUB_TOKEN }}