name: CI/CD Pipeline

on:
  push:

jobs:
  # JOB 1: TEST
  flutter_test:
    name: Run Flutter Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3  
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: echo "${{ secrets.ENVS }}" | base64 -d > lib/secrets.dart
      - run: flutter pub get
      - run: flutter --version
      - run: flutter analyze
      - run: flutter test
      - run: flutter build apk --debug



      