name: Build & Upload
on:
  workflow_dispatch:
      
jobs:
  build_androidApk:
    name: Build Flutter App
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter pub get
      - name: Setup signing configuration
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > android/keystore.jks
          echo "storePassword=${{ secrets.KEYSTORE_PASSWORD }}" > android/key.properties
          echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> android/key.properties
          echo "keyAlias=${{ secrets.KEY_ALIAS }}" >> android/key.properties
          echo "storeFile=${{ github.workspace }}/android/keystore.jks" >> android/key.properties
          echo "${{ secrets.ENVS }}" | base64 -d >> ${{ github.workspace }}/lib/secrets.dart
          
      - run: flutter build apk --release --split-per-abi --build-name  'rd_manager'+${{ github.run_number}}
      - name: Push to Releases
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/*/*.apk"
          allowUpdates: true
          tag: v1.0.${{ github.run_number}}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: ntfy-notifications    
        uses: niniyas/ntfy-action@master
        with:
          url: ${{ secrets.NTFY_URL }}/${{ secrets.NTFY_TOPIC }}
          topic: 'New Version Update'
          details: 'New Updated Version for rd manager is available  v${{ github.run_number}}' 
